-# encoding: utf-8
-# @endereco = "http://maps.google.com/maps/api/staticmap?center=Av.%20dos%20Eucaliptos,%20800%20-%20Moema&zoom=17&size=960x600&maptype=roadmap&markers=color:blue%7Clabel:Cia+das+Capas|-23.60983,-46.669328&sensor=false"

- @endereco = "http://maps.google.com/?q=Avenida dos Eucaliptos, 800 — Moema — São Paulo/SP"

!!!
%html
	%head
		- @title ||= "(11)5542-5132"
		%title= "Cia das Capas | #{@title}"
		
		%meta(name="google-site-verification" content="dP9qonr4iAN-oabrIx_Nl4WTpKH6pbH15tC3PjMFDIg")
		%meta{:name => "description", :content => "Capas para sofá de sarja, stretch e jacquard. Almofadas, cortinas. Tecidos impermeáveis em moema"}
		%meta{:name => "content-type", :content => "text/html;charset=utf-8"}

		= stylesheet_link_tag "application"# "bootstrap", "stylesheet", "fancybox"
		= javascript_include_tag "application"#, "jquery-ui.min", "easing", "fancybox", "analytics"
		= csrf_meta_tag		

	%body
		.container
			- unless flash[:notice].nil?
				.alert.alert-success
					= close_button
					= flash[:notice]
			.row.topo
				.span2
					= link_to image_tag("logo.gif"), "/quem-somos", :class => "span2"
				.span7
					.menu
						%ul.nav.nav-tabs
							- @produtos ||= Category.order(:sort).collect(&:name).join ", "
							- for item in "#{@produtos}, Contato".split(",") do
								%li{:class => (is_active? item.parameterize) }= link_to item, "/#{item.parameterize}" 
						
				.span3
					= link_to image_tag("como-chegar.png"), @endereco
					= link_to "Como chegar?", @endereco, :class => "badge badge-info", :target => "blank"
					%br
					= image_tag "telephone.png", :size => "32x32"
					%span.badge.badge-info 11 5542-5132

			= yield

		.rodape
			.page-header
			.container
				.row
					.span12
						%address
							:markdown
								#{link_to "Avenida dos Eucaliptos, 800 — Moema — São Paulo/SP", @endereco } — TEL. (11)5542-5132  
								Copyright Cia das Capas ® 2012 — Todos os direitos são reservados.
								Designed by #{link_to "Pedro Maciel", "http://be.net/pedrozath"}.